@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  section {
    @apply px-4 py-8;
  }
}

@layer utilities {
  .clip-0 {
    clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
  }
  .clip-100 {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }

  .stroke {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
  }
}

@keyframes sliding {
  0% {
    left: 0;
  }
  25% {
    left: 18.75%;
    background-color: rgb(251 191 36);
  }
  50% {
    left: 37.5%;
    background-color: rgb(251 191 36);
  }
  75% {
    left: 56.25%;
    background-color: rgb(251 191 36);
  }
  100% {
    left: 75%;
    background-color: rgb(245 158 11);
  }
}

.animate-sliding {
  animation: sliding 5s linear infinite alternate-reverse;
}
